/* base page settings */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff5e0;
    background-image:url('images/background_images/continuousBG.png');
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: 40%;
}

/* page header */
h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    color: #ffffff;
    font-size: 3.5em;
    margin: 0px;
    font-family: "Yomogi", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #c93f3f;
}

/* error display section */
.error {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center; 
}
a {
    order: 2;
}
button {
    width: 200px;
    height: 80px;
    background-color: #c93f3f;
    font-size: 30px;
    border-radius: 8px;
    border-color: #c93f3f;
    color: #ffe6e6;
}
button:hover {
    background-color: #a30f0f;
}
img {
    width: 70em;
    order: 1;
}

/* footer */
.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    background-color: #c93f3f;
    color: #ffffff;
    text-align: center;
    padding: 15px 0; 
    font-size: 15px;  
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto; 
}