/* base page settings */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff5e0;
    background-image:url('images/background_images/continuousBG.png');
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: 40%;
}

/* page header */
h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    color: #444341;
    font-size: 3.5em;
    margin: 0px;
    font-family: "Yomogi", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #ffdca8;
}

/* navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    background-color: #ffdca8;
}

nav a {
    color: #444341;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.1em;
}

nav a:hover {
    border: none;
    border-radius: 4px;
    background-color: #ffc266;
}

/* container of user input, button, SQl display, table */
.main_container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 30px;
    background-color: #c93f3f;
    /* opacity: 0.75; */
    min-width: 800px;
    max-width: fit-content;
    height: fit-content;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* user input and button */
.input {
    display: flex;
    flex-direction: row;
}

#user_input {
    order: 1;
    padding: 8px 12px;
    margin:5px;
    min-width: 680px;
    max-width: 680px;
    height: 35px;
    border: 1px solid #c93f3f;
    border-radius: 4px;
    background-color: #ffffff;
    color: #444341;
    font-size: 18px;
}
::placeholder {
  color: #444341;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Edge 12 -18 */
  color: #444341;
}

button {
    order: 2;
    padding: 0px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #b82020;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 4em;
    height: 3em;
    font-size: 18px;
}

button:hover {
    background-color: #b40202;
}


/* table */
table {
    order: 4;
    background-color: #b82020;
    margin: 15px;
    border-radius: 4px;
    color: #ffffff;
}

/* SQL display */
#feedback_element {
    order: 3;
    margin: 15px;
    font-weight: bold;
    background-color: #b82020;
    border-radius: 4px;
    height: 50px;
}

#feedback_text{
    color: #ffffff;
}


/* footer */
.footer {
    background-color: #ffdca8;
    color: #444341;
    text-align: center;
    padding: 15px 0; 
    font-size: 15px;  
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto; 
}