/* base page settings */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff5e0;
    background-image:url('images/background_images/sample.png');
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: 40%;
}

/* page header */
h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    color: #e7cccc;
    font-size: 3.5em;
    margin: 0px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #2c2a29;
}

/* navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    background-color: #2c2a29;
}

nav a {
    color: #e7cccc;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.1em;
}

nav a:hover {
    background-color: #555;
}

/* container of user input, button, SQl display, table */
.main_container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 30px;
    background-color: #161414;
    opacity: 0.75;
    max-width: 600px;
    height: fit-content;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 100px;
    
}

/* user input and button */
.input {
    display: flex;
    flex-direction: row;
}

#user_input {
    order: 1;
    padding: 8px 12px;
    margin:5px;
    max-width: 400px;
    border: 1px solid #4f4e50;
    border-radius: 4px;
    background-color: #4f4e50;
    color: #ffffff;
    font-size: 18px;
}
::placeholder {
  color: #ffffff;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Edge 12 -18 */
  color: #ffffff;
}

button {
    order: 2;
    padding: 0px;
    margin: 15px;
    background-color: #4f4e50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 4em;
    height: 3em;
}

button:hover {
    background-color: #444;
}


/* table */
table {
    order: 4;
    background-color: #4f4e50;
    margin: 15px;
    border-radius: 8px;
    color: #ffffff;
}


/* SQL display */
#feedback_element {
    order: 3;
    margin: 15px;
    font-weight: bold;
    background-color: #4f4e50;
    border-radius: 4px;
}

#feedback_text{
    color: #ffffff;
}


/* footer */
.footer {
    background-color: #2c2a29;
    color: #e7cccc;
    text-align: center;
    padding: 15px 0; 
    font-size: 15px;  
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto; 
}